.THIS .buttonwidth {
        width: -webkit-fill-available;
}

.THIS .images-div:hover{
    cursor: pointer;
    border-color:rgb(0, 112, 210);
    color:rgb(0, 112, 210);
 
}

.THIS .addUn-div:hover{
    display: none;
}

.THIS .disOnHover{
    display: block;
}

.THIS .clr{
    color:rgb(250, 250, 249);  
   
    
}



.THIS .add-div{
   background-color: rgb(250, 250, 249);
}




.THIS .add-div{
   background-color: rgb(250, 250, 249);
}